<div id="<%= dom_id bautismos_converso %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= bautismos_converso.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= bautismos_converso.gender %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Age:</strong>
    <%= bautismos_converso.age %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Attendande:</strong>
    <%= bautismos_converso.attendande %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bautism date:</strong>
    <%= bautismos_converso.bautism_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Confirmation date:</strong>
    <%= bautismos_converso.confirmation_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Unidads:</strong>
    <%= bautismos_converso.unidads_id %>
  </p>

</div>
